{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.avatar) }}">
    <h1 class="mb-3">{{ user.username }}</h1><br><br>
    <h2 class="mb-3">Total posts: {{ posts.total }}</h2>
    {% for post in posts.items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('user_page', username=post.author.username) }}">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.avatar) }}">
                        {{ post.author.username }}
                    </a>
                    <small class="text-muted">{{ post.date_posted.strftime('%H:%M, %d-%m-%Y') }}</small>
                </div>
                <p class="article-content">{{ post.content }}</p>
                <div><small><a href="{{ url_for('post', post_id=post.id) }}">Comments</a></small></div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-light mb-4" href="{{ url_for('user_page', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-light mb-4" href="{{ url_for('user_page', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}